* {
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: Helvetica Neue, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    letter-spacing: normal;
    color: black;
    font-size: 2rem;
  }
  
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  p {
    font-size: 2.3rem;
  }
  
  h1, h2, p, img {
    padding: 0rem 0rem 2rem 0rem;
  }
  
  main img {
    max-width: 100%;
    mix-blend-mode: multiply;
    filter: grayscale(100%);
  }
  
  main img:hover {
    filter: grayscale(0%);
    mix-blend-mode: normal;
  }
  
  main {
    height: 100vh;
    scroll-behavior: smooth;
    overflow: auto;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }  