section {
  scroll-snap-align: center;
  display: grid;
  padding: 6rem 2rem;
  align-content: center;
  grid-row-gap: 2rem;
  padding: 10rem;
}

#top {
  height: 100vh;
  background-color: #e5f4a2;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}

#top-text p {
  font-size: 4rem;
}

#top-text h1 {
  font-size: 4rem;
}

#top-img {
  height: 80vh;
  background-image: url(./img/fi-logo-svart.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

#aktuelt {
  font-size: 2.5rem;
  min-height: 100vh;
  background-color: #f4b5a2;
}

#aktuelt-article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(100px);
  grid-gap: 2rem;
  grid-auto-flow: dense;
}

#aktuelt div {
  border: 2px solid black;
  min-height: 20rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: left;
  border-radius: 1rem;
  transition: 0.5s;
}

.c-2 {
  grid-column: span 2;
}

.r-2 {
  grid-row: span 2;
}

#aktuelt div:hover {
  background-color: black;
  color: #f4b5a2;
  transform: scale(1.05);
  font-weight: 900;
  font-size: 3rem;
}

#politikk {
  min-height: 100vh;
  background-color: #f4e1a2;
}

#politikk > p{
  max-width: 66%;
  font-size: 2.3rem;
}

#politikk-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

#politikk-article div > p {
  font-size: 2.3rem;;
}

#politikk div img {
  max-height: 40vh;
}

#politikk div {
  padding: 2rem;
  border: 2px solid black;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  border-radius: 1rem;
  transition: 0.5s;
}

#politikk div:hover {
  background-color: black;
  color: #f4e1a2;
  transform: scale(1.05);
}

#saker {
  background-color: #f4b5a2;
}

#saker > p {
  font-size: 2.5rem;
}

#saker-article {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 2rem;
}


#saker a {
  font-size: 2.3rem;
  color: black;
  text-decoration: none;
  transition: 0.5s;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 1rem;
}

#saker a:hover, a:active {
  transform: scale(1.05);
  background-color: black;
  color: #f4b5a2;
}

#om-oss {
  min-height: 80vh;
  background-color: #f3f4a2;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 2fr 1fr;
}

#beskrivelse > p {
  font-size: 2.5rem;
}

#beskrivelse {
  padding-right: 15rem;
}

#beskrivelse {
  font-size: 3rem;
}

#meldinger {
  border: 2px solid black;

  max-height: 80vh;
  background-image: linear-gradient(transparent 95%,black);
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 1rem;
  overflow-y: scroll;
  padding: 2rem;
  border-radius: 1rem;
}

#meldinger p {
  font-size: 1.7rem;
  z-index: 5;
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;
  max-width: 75%;
  background-color: black;
  color: #f3f4a2;
}

.me {
  justify-self: end;
}

.you {
  justify-self: start;
}

#personer {
  min-height: 80vh;
  background-color: #f4b5a2;
}

#personer-article div {
  padding: 2rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  transition: 0.5s;
}

#personer-article div:hover {
  transform: scale(1.05);
}

#personer-article h2, p {
  font-size: 2rem;
  padding: 0;
}

#personer-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
}

#personer-article div {
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}