/*HEADER*/

header {
    /* border: 2px solid black; */
  padding: 1rem;
  position: fixed;
  width: 100vw;
  background-color: black;
  z-index: 100;
}

header nav {
    /* max-width: 90%; */
  margin: auto;
  display: flex;
  align-items: center;
}

header nav a {
  align-items: center;

  height: 100%;
  color: white;
  text-decoration: none;
  padding: 1rem;
  transition: 0.5s;
}

header nav a:hover {
  background-size: 2px 2px;
  transform: scale(1.1);
}

header nav a:active {
    text-decoration: underline 1.5px;

  }

header nav img {
  width: 5rem;
  vertical-align: middle;

}

#medlem {
  margin-left: auto;
  color: white;
  border: 2px solid white;
}
  
  
  /* TIL TOPP */
  
#til-topp {
  font-size: 2rem;
  height: 7rem;
  width: 7rem;
  background-color: black;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 1vh;
  right: 1vh;
  z-index: 3;
  transition: 0.5s;
}

#til-topp:hover {
    transform: scale(1.1);
}